<div class="col-md-8 offset-md-2 ">

    <h3>Create Customer</h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="customer.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="customer.lastName" name="lastName">
        </div>

        <div class="form-group mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>